@import '../../../styles/media-queries.scss';

.order-confirmation {
  margin: 10rem auto 0;
  display: grid;
  place-items: center;
  padding: 0 0.5rem;

  @include mobile {
    margin-top: 3rem;
  }

  @include tablet {
    padding: 0 1rem;
  }

  @include desktop {
    width: 80%;
    max-width: 800px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.order-description {
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}
