@import '../../../styles/media-queries.scss';

h2 {
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet {
    width: 45%;
  }
}

.label,
.empty {
  color: grey;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

li {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  white-space: pre;
}

span.name {
  text-transform: capitalize;
}

ul.property-list {
  li span:first-of-type {
    display: inline-block;
    min-width: 30%;
    margin-bottom: auto;

    @include mobile {
      min-width: 40%;
    }
  }

  li span:last-of-type {
    @include mobile {
      min-width: 60%;
      white-space: normal;
      overflow-wrap: break-word;
    }
  }
}
